
<h1 class="display-4"> Welcome to Todo App Trial Test</h1>
<p>Using SailsJS framework</p>
<a href="/apptodo/list" class="btn btn-light"> View Todo List</a>
<a href="/apptodo/add" class="btn btn-light"> Add to the List</a>